npm-debug.log
node_modules
yarn-error.log
.DS_Store
.vscode/*
.node*
archive/*
build/
artifacts/
cache/
coverage
coverageEnv
.coverage_contracts
.coverage_artifacts
coverage.json
tmp
log/*.log
ganache.log
.0x*
scTopics
dapp*
contracts.generated.js
releaseConfig.json
.jshintrc
.idea/
