version: 2.1


executors:
  smart_contracts:
    docker:
      - image: circleci/node:12.13.0
      - image: trufflesuite/ganache-cli:v6.7.0
        command: ganache-cli --gasLimit 8000000 -a 50 -e 1000000 -m "funny door sample enrich female wedding stereo crane setup shop dwarf dismiss"

commands:
  install_node_modules:
    parameters:
      executor:
        type: string
    steps:
      - restore_cache:
          name: Restore yarn cache
          key: << parameters.executor >>-yarn-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          name: Save yarn cache
          key: << parameters.executor >>-yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ~/.config/yarn

jobs:
  build_contracts:
    executor: smart_contracts
    working_directory: ~/repo
    steps:
      - checkout:
          path: ~/repo
      - install_node_modules:
          executor: contracts
      - run:
          name: Setup submodules
          command: git submodule init && git submodule update
      - run:
          name: Setup release config
          command: yarn setup-release-config-for-testing
      - run:
          name: Compile
          command: yarn compile
      # - run:
      #     name: Deploy contracts to test chain
      #     command: yarn deploy:local
      # - run:
      #     name: Run tests with coverage
      #     command: yarn coverage
      # - store_artifacts:
      #     path: ~/repo/coverage
      #     destination: coverage
      # - run:
      #     name: Upload coverage report to coveralls
      #     command: cat ./coverage/lcov.info | yarn coveralls
      - persist_to_workspace:
          root: ~/repo
          paths: .
  deploy_contracts:
    executor: smart_contracts
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Setup release config
          command: yarn setup-release-config
      - run:
          name: Deploy to Rinkeby
          command: yarn deploy:rinkeby
      - persist_to_workspace:
          root: ~/repo
          paths: .
  deploy_admin_dapp:
    executor: smart_contracts
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Add SSH fingerprint
          command: mkdir -p ~/.ssh && ssh-keyscan -H github.com >> ~/.ssh/known_hosts
      - run:
          name: Build and deploy admin dapp
          command: yarn deploy-admin-dapp
  publish_to_npm:
    executor: smart_contracts
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish to NPM
          command: npm run publish-to-npm
  git_tag:
    executor: smart_contracts
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Git config
          command: git config --global user.email "engineering@nayms.io" && git config --global user.name "Nayms Engineering"
      - run:
          name: Git commit
          command: git commit -am "Release $(./scripts/outputVersion.js)"
      - run:
          name: Git tag
          command: git tag v$(./scripts/outputVersion.js) -m 'v$(./scripts/outputVersion.js)'
      - run:
          name: Avoid hosts unknown for github
          command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config          
      - run:
          name: Git push to update branch
          command: git push -u origin release
      - run:
          name: Git push tags
          command: git push --follow-tags

workflows:
  version: 2
  ci:
    jobs:
      - build_contracts:
          filters:
            branches:
              ignore:
                - gh-pages
      - deploy_contracts:
          requires:
            - build_contracts
          filters:
            branches:
              ignore:
                - gh-pages
                - master
      - deploy_admin_dapp:
          requires:
            - deploy_contracts
          filters:
            branches:
              ignore:
                - gh-pages
                - master
      - publish_to_npm:
          requires:
            - deploy_contracts
          filters:
            branches:
              ignore:
                - gh-pages
                - master
      - git_tag:
          requires:
            - publish_to_npm
          filters:
            branches:
              only:
                - release
